<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Display Text') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctOLED.display_text">
        </div>
    </div>
</form>